@import "tailwindcss";
@font-face {
  font-family: 'magik';
  src: url('./assets/fonts/Magik.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.magik {
  font-family: 'magik', sans-serif;
  font-size: xx-large;
  color: black;
}