@import "tailwindcss";
@font-face {
  font-family: 'lumos';
  src: url('./lumos.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lumos {
  font-family: 'lumos', sans-serif;
  font-size: xx-large;
}