@import "tailwindcss";
/* 
#perso {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  margin: 10px auto;
  border: 1px, solid, black;
  padding: 2px;
  border-radius: 10px;
}

#nameContent {
  font-weight: bold;
} */